body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Times, sans-serif;
    background-color: #f0f0f7;
}

#app {
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
    background-color: #fff;
}

input[type="file"], button {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    cursor: pointer;
    outline: none;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
}

button:hover {
    background-color: #0056b3;
}

.instructions h3 {
    font-size: 12px;
}

.instructions ul li {
    font-size: 10px;
}

.data-requirements h3 {
    font-size: 12px;
}

.data-requirements ul li {
    font-size: 10px;
}
